<div id="CarClassForm">

<%= form_for(@car_class) do |f| %>
  <% if @car_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_class.errors.count, "error") %> prohibited this car_class from being saved:</h2>

      <ul>
      <% @car_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :car_class_name, "Car class name:" %>
    <%= f.text_field :car_class_name %>
  </div>
    <div class="field">
      <%= f.label :description, "Description:" %>
      <%= f.text_area :description %>
    </div>
    <div class="field">
      <%= f.label :tarrif, "Tarrif:" %>
      <%= f.text_field :tarrif %>
    </div>
    <div class="field">
      <%= f.label :image_url, "Image URL:" %>
      <%= f.text_field :image_url %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>
<br/>
<%= link_to @car_class, :id => "showLink" do %>
	<p><%= image_tag("arrow.png", :alt => "Arrow")%>Show</p>
<% end %> 
<%= link_to car_classes_path, :id => "backLink" do %>
	<p><%= image_tag("arrow.png", :alt => "Arrow")%>Back</p>
<% end %>
