<%= form_for(@car_class) do |f| %>
  <% if @car_class.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_class.errors.count, "error") %> prohibited this car_class from being saved:</h2>

      <ul>
      <% @car_class.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :car_class_name %><br />
    <%= f.text_field :car_class_name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
