<%= stylesheet_link_tag "newUser" %>
<h1>Login</h1>
<%= form_tag sessions_path do %>
 <div class="field">
  <%= label_tag :email %>
  <%= text_field_tag :email, params[:email] %>
 </div>
 <div class="field"
  <%= label_tag :password %>
  <%= password_field_tag :password %>
 </div>
 <div class="actions"><%= submit_tag "Login" %></div>
<% end %>
<%=link_to "Not Registered?", new_user_path %>