<%= stylesheet_link_tag    "IndexBooking" %>
<h1 id="listingBookings"><%= image_tag("arrow.png", :alt => "Arrow")%>Listing bookings</h1>
<div id="List">
<table>
  <tr>
    <th>Date of departure</th>
    <th>Date of arrival</th>
    <th>Collect</th>
    <th>User</th>
	<th>Status</th>
    <th id="empty"></th>
    <th id="empty"></th>
    <th id="empty"></th>
  </tr>

<% @bookings.each do |booking| %>
  <tr>
    <td><%= booking.date_of_departure %></td>
    <td><%= booking.date_of_arrival %></td>
    <td><%= booking.collect %></td>
    <td><%= booking.user_id %></td>
    <td><%= booking.status %></td>
    <td id="empty"><%= link_to booking, :id => "showLink" do %>
		<p><%= image_tag("arrow.png", :alt => "Arrow")%>Show</p>
	<% end %>
	</td>
    <td id="empty"><%= link_to edit_booking_path(booking), :id => "editLink" do %>
		<p><%= image_tag("arrow.png", :alt => "Arrow")%>Edit</p>
	<% end %>
	</td>
    <td id="empty"><%= link_to booking_cancel_path(booking), confirm: 'Are you sure?', :id => "destroyLink" do %>
		 <p><%= image_tag("cross.png", :alt => "Cross")%>Destroy</p>
	  <% end %>
	</td>
  </tr>
<% end %>
</table>
</div>
<br />

<%=link_to new_booking_path do %>
	<h1 id="newBookingAccess"><%= image_tag("arrow.png", :alt => "Arrow")%>New Booking</h1>
<% end %>
