<%= stylesheet_link_tag    "showBookings" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Date of departure:</b>
  <%= @booking.date_of_departure %>
</p>

<p>
  <b>Date of arrival:</b>
  <%= @booking.date_of_arrival %>
</p>

<p>
  <b>Collect:</b>
  <%= @booking.collect %>
</p>

<p>
	<b>Car Class:</b>
	<%= @booking.car_class%>
</p>

<%= link_to edit_booking_path(@booking), :id => "editLink" do %>
	<p><%= image_tag("arrow.png", :alt => "Arrow")%>Edit</p>
<% end %> |
<%= link_to bookings_path, :id => "backLink" do %>
	<p><%= image_tag("arrow.png", :alt => "Arrow")%>Back</p>
<% end %>
