<%= stylesheet_link_tag    "showUsers" %>
<h1>User Details:</h1>
<p>User ID: <%= @user.id %></p>
<p>Email:  <%= @user.email %></p>

<% if @user.is_customer == true %>
 <p>Customer ID: <%= @customer.id %></p>
 <p>First Name: <%= @customer.first_name %>
 <p>Last Name: <%= @customer.last_name %>
<% end %>

<% if @user.is_admin %>
 <p>User is Administrator</p>
<% end %>
<%= link_to edit_user_path(@user.id), :id => "editLink" do %>
	<p><%= image_tag("arrow.png", :alt => "Arrow")%>Edit Details</p>
<% end %>
<br/>

