<h1>Account Details:</h1>
<p>User ID: <%= @user.id %></p>
<p>Email:  <%= @user.email %></p>

<% if @user.is_customer == true %>
 <p>Customer ID: <%= @customer.id %></p>
 <p>First Name: <%= @customer.first_name %>
 <p>Last Name: <%= @customer.last_name %>
<% end %>

<% if @user.is_admin %>
 <p>User is Administrator</p>
<% else %>
 <p><%= link_to 'Update Details', edit_customer_path %></p>
<% end %>
