<%= form_for([@booking,@payement, :html => {:id => 'newpaymentForm'}]) do |f| %>
  <% if @payement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@payement.errors.count, "error") %> prohibited this payement from being saved:</h2>

      <ul>
      <% @payement.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :payement_type %><br />
    <%= f.select :payement_type, [["deposit","deposit"],["full","full"]] %>
  </div><br/>
    <div class="field">
      <%= f.label :amount %><br />
      <%= f.number_field :amount %>
    </div><br/>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<script language="JavaScript" type="text/javascript">

    var frmvalidator  = new Validator("newpaymentForm");
    frmvalidator.EnableMsgsTogether();
    frmvalidator.EnableFocusOnError(false);
    //frmvalidator.addValidation("car_class_car_class_name","req","Missing \"Car class name\"");
    //frmvalidator.addValidation("car_class_description","req","Missing \"Description\"");

    //frmvalidator.addValidation("car_class_car_class_name","alnum_s","Car class name allows only alphabetic, numeric and space characters ");
    //frmvalidator.addValidation("car_class_tarrif","num","Tarrif can only contain numbers");

</script>