<%= stylesheet_link_tag    "IndexPayment" %>
<h1 id="listingPayments"><%= image_tag("arrow.png", :alt => "Arrow")%>Listing Payments</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Payement type</th>
    <th>Booking</th>
    <th>Payement date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payements.each do |payement| %>
  <tr>
    <td><%= payement.amount %></td>
    <td><%= payement.booking_id %></td>
    <td><%= payement.created_at.to_date %></td>
 </tr>
<% end %>
</table>

<% if not @paid.empty? %>
   <% if @paid.first.paid >= @total_cost %>
     <b>Balance paid in full.</b><br />
 <% end %>
<% end %>

<br />

<%= link_to 'New Payement', new_booking_payement_path(params[:id]) %>
