<h1>Listing payements</h1>

<table>
  <tr>
    <th>Amount</th>
    <th>Payement type</th>
    <th>Booking</th>
    <th>Payement date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @payements.each do |payement| %>
  <tr>
    <td><%= payement.amount %></td>
    <td><%= payement.payement_type %></td>
    <td><%= payement.booking_id %></td>
    <td><%= payement.created_at %></td>
    <td><%= link_to 'Show', booking_payement_path(payement.booking_id, payement.id) %></td>
    <td><%= link_to 'Edit', edit_booking_payement_path(payement.booking_id, payement.id) %></td>
    <td><%= link_to 'Destroy', booking_payement_path(params[:id]), confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Payement', new_booking_payement_path(params[:id]) %>
