<%= stylesheet_link_tag    "scrollable-horizontal.css" %>
<%= stylesheet_link_tag    "scrollable-buttons.css" %>
<%= javascript_include_tag "http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js" %>
<script src="http://cdn.jquerytools.org/1.2.6/full/jquery.tools.min.js" type="text/javascript"></script>
 
<div id="advertisement">
	<!-- root element for scrollable -->
	<div class="scrollable" id="scrollable">
	 
	  <!-- root element for the items -->
	  <div class="items">
	 
		<!-- first car -->
		<div>
			<%= link_to new_booking_path, :id => "car1Link" do %>
				<%= image_tag("car1.png", :alt => "Car 1", :style => "margin-left: 270px;")%>
			<% end %>
		</div>
	 
		<!-- second car -->
		<div>
			<%= link_to new_booking_path, :id => "car2Link" do %>
				<%= image_tag("car2.png", :alt => "Car 2", :style => "margin-left: 270px;")%>
			<% end %>
		</div>
		
		<!-- third car -->
		<div>
			<%= link_to new_booking_path, :id => "car3Link" do %>
				<%= image_tag("car3.png", :alt => "Car 3", :style => "margin-left: 270px;")%>
			<% end %>
		</div>
		
		<!-- fourth car -->
		<div>
			<%= link_to new_booking_path, :id => "car4Link" do %>
				<%= image_tag("car4.png", :alt => "Car 4", :style => "margin-left: 270px;")%>
			<% end %>
		</div>
		
		<!-- fifth car -->
		<div>
			<%= link_to new_booking_path, :id => "car5Link" do %>
				<%= image_tag("car5.png", :alt => "Car 5", :style => "margin-left: 270px;")%>
			<% end %>
		</div>
		
		<!-- sixth car -->
		<div>
			<%= link_to new_booking_path, :id => "car6Link" do %>
				<%= image_tag("car6.png", :alt => "Car 6", :style => "margin-left: 270px;")%>
			<% end %>
		</div>
	 
	  </div>
	 
	</div>
</div>

<script type="text/javascript">
		$(function() {
		// initialize scrollable
		$(".scrollable").scrollable({circular: true}).autoscroll({interval: 3000});
		});
	</script>	

