<div id="CustomerForm">
<%= form_for(@customer, :html => {:id => 'newCustomerForm'}) do |f| %>

 <% if @customer.errors.any? %>
  <div class="error_messages">
   <h2><%= pluralize(@customer.errors.count, "error") %>:</h2>
   <ul>
    <% for message in @customer.errors.full_messages %>
     <li><%= message %></li>
    <% end %>
   </ul>
  </div>
 <% end %>
 <% if @customer.id != nil %>
 <div class="field">
  <%= f.label :customer_id, "Customer ID:" %>
  <p id="customerId"><%= @customer.id %></p>
 </div>
 <% end %>
 <div class="field">
  <%= f.label :user_id, "User ID:" %>
  <%= f.text_field :user_id %>
 </div>
 <div class="field">
  <%= f.label :first_name, "First Name:" %>
  <%= f.text_field :first_name %>
 </div>
 <div class="field">
  <%= f.label :last_name, "Last Name:" %>
  <%= f.text_field :last_name %>
 </div>
 <div class="field">
  <%= f.label :address_one, "Address Line One:" %>
  <%= f.text_field :address_one %>
 </div>
 <div class="field">
  <%= f.label :address_two, "Address Line Two:" %>
  <%= f.text_field :address_two %>
 </div>
 <div class="field">
  <%= f.label :city, "City:" %>
  <%= f.text_field :city %>
 </div>
 <div class="field">
  <%= f.label :postcode, "Postcode:" %>
  <%= f.text_field :postcode %>
 </div>
 <div class="actions"><%= f.submit %></div>
<% end %>
</div>
<br/>
<% if current_user && current_user.is_admin? %>
<%= link_to customers_url, :id => "backLink" do %>
	<p><%= image_tag("arrow.png", :alt => "Arrow")%>Back</p>
<% end %>
<% else %>
<%= link_to root_url, :id => "backLink" do %>
	<p><%= image_tag("arrow.png", :alt => "Arrow")%>Home</p>
<% end %>
<% end %>
<script language="JavaScript" type="text/javascript">
    window.onload = function(){
        $('body').delegate('#booking_collect','change', function(){
            if($("#booking_collect").val() ==  'false'){
                $("#addressInfo").show("slow");

            }
            else{
                $("#addressInfo").hide("slow");
            }
        });

        new JsDatePick({
            useMode:2,
            target:"dorInput",
            dateFormat:"%Y-%m-%d",
            yearsRange:[2012,2014]
        });
        new JsDatePick({
            useMode:2,
            target:"dodInput",
            dateFormat:"%Y/%m/%d",
            yearsRange:[2012,2014]
        });
    };

    function DoCustomDateValidation()
    {
        var frm = document.forms['bookingForm'];
        var dod = new Date(frm.dodInput.value);
        var dor = new Date(frm.dorInput.value);
        var today = new Date();

        if (dod.getYear()<today.getYear() || dod.getMonth()<today.getMonth() || (dod.getMonth()==today.getMonth() && dod.getDate()<today.getDate())){
            sfm_show_error_msg('Departure date is before today!');
            return false;
        }
        else if(dod.getTime()>dor.getTime())
        {
            sfm_show_error_msg('Departure date is before return date!');
            return false;
        }
        else
        {
            return true;
        }
    }

    var frmvalidator  = new Validator("newCustomerForm");
    frmvalidator.EnableMsgsTogether();
    frmvalidator.EnableFocusOnError(false);
    frmvalidator.addValidation("dodInput","req","Missing \"Departure date\"");
    frmvalidator.addValidation("dorInput","req","Missing \"Return date\"");
    frmvalidator.setAddnlValidationFunction(DoCustomDateValidation);
    frmvalidator.addValidation("booking_collect","dontselect=0","Missing \"Collection Method\"");
    frmvalidator.addValidation("postcode","req","Missing \"Postcode\"" ,"VWZ_IsListItemSelected( document.getElementById('booking_collect'),'false')");
    frmvalidator.addValidation("city","req","Missing \"City\"" ,"VWZ_IsListItemSelected( document.getElementById('booking_collect'),'false')");
    frmvalidator.addValidation("city","alpha","Allow only alphabetic characters on \"City\"" ,"VWZ_IsListItemSelected( document.getElementById('booking_collect'),'false')");
    frmvalidator.addValidation("address_one","req","Missing \"Address\"" ,"VWZ_IsListItemSelected( document.getElementById('booking_collect'),'false')");
    frmvalidator.addValidation("address_one","alnum_s","Alphabetic, numeric and space characters only on \"Address\"" ,"VWZ_IsListItemSelected( document.getElementById('booking_collect'),'false')");

    function DoCustomPostcodeValidation()
    {
        if($("#booking_collect").val() ==  'false'){
            var e = document.getElementById("booking_collect");
            var method = e.options[e.selectedIndex].value;
            if (method == "false"){
                var frm = document.forms['bookingForm'];
                var postCodeValue = frm.postcode.value.replace(/\s/g, "");
                postCodeValue = postCodeValue.toUpperCase();
                var matchPostcode = /^((((A[BL]|B[ABDHLNRSTX]?|C[ABFHMORTVW]|D[ADEGHLNTY]|E[HNX]?|F[KY]|G[LUY]?|H[ADGPRSUX]|I[GMPV]|JE|K[ATWY]|L[ADELNSU]?|M[EKL]?|N[EGNPRW]?|O[LX]|P[AEHLOR]|R[GHM]|S[AEGKLMNOPRSTY]?|T[ADFNQRSW]|UB|W[ADFNRSV]|YO|ZE)[1-9]?[0-9]|((E|N|NW|SE|SW|W)1|EC[1-4]|WC[12])[A-HJKMNPR-Y]|(SW|W)([2-9]|[1-9][0-9])|EC[1-9][0-9])[0-9])[ABD-HJLNP-UW-Z]{2}|GIR0AA)$/.test(postCodeValue);
                if (!matchPostcode){
                    sfm_show_error_msg('Invalid Postcode!');
                    return false;
                }
                else{
                    return true;
                }
            }
        }
        else if($("#booking_collect").val() ==  'true')
        {
            return true;
        }
    }
    frmvalidator.setAddnlValidationFunction(DoCustomPostcodeValidation);
    </script>