<%= form_for(@customer) do |f| %>
 <% if @customer.errors.any? %>
  <div class="error_messages">
   <h2><%= pluralize(@customer.errors.count, "error") %>:</h2>
   <ul>
    <% for message in @customer.errors.full_messages %>
     <li><%= message %></li>
    <% end %>
   </ul>
  </div>
 <% end %>
 <% if @customer.id != nil %>
 <div class="field">
  <%= f.label :customer_id, "Customer ID:" %>
  <%= @customer.id %><br/>
 </div>
 <% end %>
 <div class="field">
  <%= f.label :user_id, "User ID:" %>
  <%= f.text_field :user_id %><br/>
 </div>
 <div class="field">
  <%= f.label :first_name, "First Name:" %>
  <%= f.text_field :first_name %><br/>
 </div>
 <div class="field">
  <%= f.label :last_name, "Last Name:" %>
  <%= f.text_field :last_name %><br/>
 </div>
 <div class="actions"><%= f.submit %></div>
<% end %>
