<table>
<thead>
<tr><td>Edit</td><td>Destroy</td><td>Customer ID</td><td>User ID</td><td>First Name</td><td>Last Name</td></tr>
</thead>
<tbody>
<% @customers.each do |customer| %>
 <tr>
 <td><%= link_to 'edit', edit_customer_path(customer.id) %></td>
 <td><%= link_to 'destroy', customer, confirm: 'Are you sure?', method: :delete %></td>
 <td><%= customer.id %></td>
 <td><%= customer.user_id ||= 'nil' %></td>
 <td><%= customer.first_name ||= 'nil' %></td>
 <td><%= customer.last_name ||= 'nil' %></td>
 </tr>
<% end %>
</tbody>
</table>
