<%= stylesheet_link_tag    "showCustomer" %>
<h1>Customer Details:</h1>
<p>Customer ID: <%= @customer.id %></p>
<p>User ID:  <%= @customer.user_id %></p>
<p>First Name: <%= @customer.first_name %>
<p>Last Name: <%= @customer.last_name %>
<p>Address Line One: <%= @customer.address_one %></p>
<p>Address Line Two: <%= @customer.address_two %></p>
<p>City: <%= @customer.city %></p>
<p>Postcde: <%= @customer.postcode %></p>

<%= link_to edit_customer_path(@customer.id), :id => "editLink" do %>
	<p><%= image_tag("arrow.png", :alt => "Arrow")%>Edit Details</p>
<% end %> |
<%= link_to customers_url, :id => "backLink" do %>
	<p><%= image_tag("arrow.png", :alt => "Arrow")%>Back</p>
<% end %>
<br/>

