<h1>Customer Details:</h1>
<p>Customer ID: <%= @customer.id %></p>
<p>User ID:  <%= @customer.user_id %></p>
<p>First Name: <%= @customer.first_name %>
<p>Last Name: <%= @customer.last_name %>
<p>Address Line One: <%= @customer.address_one %></p>
<p>Address Line Two: <%= @customer.address_two %></p>
<p>City: <%= @customer.city %></p>
<p>Postcde: <%= @customer.postcode %></p>
<p><%= link_to 'Edit Details', edit_customer_path(@customer.id) %> |
<%= link_to 'Index', customers_url %></p>

