<%= form_for([@car,@accident]) do |f| %>
  <% if @accident.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@accident.errors.count, "error") %> prohibited this accident from being saved:</h2>

      <ul>
      <% @accident.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :address_line_1 %><br />
    <%= f.text_field :address_line_1 %>
  </div>
  <div class="field">
    <%= f.label :address_line_2 %><br />
    <%= f.text_field :address_line_2 %>
  </div>
  <div class="field">
    <%= f.label :postcode %><br />
    <%= f.text_field :postcode %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :phone %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :reg %><br />
    <%= f.text_field :reg %>
  </div>
  <div class="field">
    <%= f.label :model %><br />
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :damage_report %><br />
    <%= f.text_area:damage_report %>
  </div>
  <div class="field">
    <%= f.label :accident_report %><br />
    <%= f.text_area :accident_report %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
