<%= stylesheet_link_tag    "IndexCar" %>
<h1 id="listingCars"><%= image_tag("arrow.png", :alt => "Arrow")%>Listing Cars</h1>

<div id="List">
<table>
  <tr>
    <th>Reg</th>
    <th>Model</th>
    <th>Class</th>
    <th>Status</th>
    <th id="noBorder" style="width: 84px;"></th>
    <th id="noBorder" style="width: 84px;"></th>
    <th id="noBorder" style="width: 150px;"></th>
	<th id="noBorder" style="width: 145px;"></th>
	<th id="noBorder" style="width: 93px;"></th>
  </tr>

<% @cars.each do |car| %>
  <tr>
    <td><%= car.reg %></td>
    <td><%= car.model %></td>

    <td><%= CarClass.find(car.car_class_id).car_class_name %></td>

    <td><%= car.status %></td>
	<td id="noBorder"><%= link_to car, :id => "showLink" do %>
		<p><%= image_tag("arrow.png", :alt => "Arrow")%>Show</p>
	<% end %>
	</td>
    <td id="noBorder"><%= link_to edit_car_path(car), :id => "editLink" do %>
		<p><%= image_tag("arrow.png", :alt => "Arrow")%>Edit</p>
	<% end %>
	</td>
	 <td id="noBorder" style><%= link_to new_car_accident_path(car), :id => "destroyLink" do %>
		<p><%= image_tag("lightning_bolt.png", :alt => "LightningBolt")%>New Accident</p>
	<% end %>
	</td>
	<td id="noBorder" style><%= link_to car_accident_path(car), :id => "destroyLink" do %>
	  <p><%= image_tag("lightning_bolt.png", :alt => "LightningBolt")%>View Accidents</p>
	<% end %>
	</td>
	<td id="noBorder" style><%= link_to car, confirm: 'Are you sure?', method: :delete, :id => "destroyLink" do %>
		<p><%= image_tag("cross.png", :alt => "Cross")%>Delete</p>
	<% end %>
	</td>
  </tr>
<% end %>
</table>
</div>
<br />

<%=link_to new_car_path do %>
	<h1 id="newCarAccess"><%= image_tag("arrow.png", :alt => "Arrow")%>New Car</h1>
<% end %>

<%= link_to admin_path do %>
	<h1 id="adminAccess"><%= image_tag("arrow.png", :alt => "Arrow")%>Back</h1>
<% end %>
