<%= stylesheet_link_tag    "showCars" %>

<p id="notice"><%= notice %></p>

<p>
  <b>Reg:</b>
  <%= @car.reg %>
</p>

<p>
  <b>Model:</b>
  <%= @car.model %>
</p>

<p>
  <b>Class:</b>
  <%= CarClass.find(@car.car_class_id).car_class_name%>
</p>

<p>
  <b>Status:</b>
  <%= @car.status %>
</p>

<%= link_to edit_car_path(@car), :id => "editLink" do %>
	<p><%= image_tag("arrow.png", :alt => "Arrow")%>Edit</p>
<% end %> |
<%= link_to cars_path, :id => "backLink" do %>
	<p><%= image_tag("arrow.png", :alt => "Arrow")%>Back</p>
<% end %>

