<p id="notice"><%= notice %></p>

<p>
  <b>Reg:</b>
  <%= @car.reg %>
</p>

<p>
  <b>Model:</b>
  <%= @car.model %>
</p>

<p>
  <b>Class:</b>
  <%= CarClass.find(@car.car_class_id).car_class_name%>
</p>

<p>
  <b>Status:</b>
  <%= @car.status %>
</p>

<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
