<!DOCTYPE html>
<html>
    <head>
     <title>Scars</title>
     <%= stylesheet_link_tag    "application", :media => "all" %>
     <%= javascript_include_tag "application" %>
     <%= csrf_meta_tags %>
      <script src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
      <script>
          function googleTranslateElementInit() {
              new google.translate.TranslateElement({
                  pageLanguage: 'en',
                  layout: google.translate.TranslateElement.InlineLayout.HORIZONTAL
              }, 'google_translate_element');
          }
      </script>
    </head>
	<body>
	 <div id="main_wrapper">
       <div style="height:26px;">
         <div style="float: right;">
         <div id="google_translate_element"></div>
         </div>
       </div>
	  <header>
	   <%= image_tag("banner.jpg", :alt => "S-Cars") %>	   
	  </header>
	 <div id="main_nav">
	  <nav>
	   <ul>
	    <li id="first_tab"><%= link_to 'Home', root_path%></li>
	    <li id="second_tab"><%=link_to 'Bookings', new_booking_path%></li>
		<% if current_user %>
        <li id="noticeLogin">Logged in as <%= current_user.email %>.</li>
        <li id="main_login"><%= link_to "Logout", "/logout" %></li>
       <% else %>
		<li id="main_login"><a href="#" onclick=myFunction();>Login<%= image_tag("arrow_down.gif", :alt => "Arrow Down", :id => "Arrow") %></a></li>
		<div id="login_dropdown">
			<%= render partial: "sessions/new" %>
        </div>
       <% end %>
	   </ul>
	  </nav>
	 </div>
	 <div id="notice"><%= flash[:notice] %></div>
	 <section>
	  <article>
	   <%= yield %>
       <div style="clear:both;"></div>
	  </article>
	 </section><br/>
	 <footer>
		<div id="subFooter">
		<div id="smallNav"><b><%= link_to 'Home', root_path%> | <%=link_to 'Bookings', new_booking_path%></b></div>
		<div id="rights"> SCars © 2012 Privacy Policy</div>
		<div id="Paypal"><%= link_to "https://twitter.com/#!/Scarshire", :id => "twitterLink" do %>
							<%= image_tag("twitter.png", :alt => "TwitterLogo", :id => "TwitterLogo") %>
						<% end %>
						<%= link_to "http://www.facebook.com/pages/S-Cars/243572372392540?sk=wall", :id => "facebookLink" do %>
							<%= image_tag("facebook.png", :alt => "FacebookLogo", :id => "FacebookLogo") %>
						<% end %>
						<%= image_tag("Paypal_logo.png", :alt => "PaypalLogo", :id => "PaypalLogo") %>
						<%= image_tag("Visa.png", :alt => "Visa", :id => "Visa") %>
						<%= image_tag("Mastercard.png", :alt => "Mastercard", :id => "Mastercard") %>
		</div>
		</div>
	</footer>
</div>
   </body>

<script language="JavaScript" type="text/javascript">
   function myFunction(){
   var drop = document.getElementById('login_dropdown');
   var arrow = document.getElementById('Arrow');
	if(drop.style.display == "block"){
		drop.style.display = "none";
		arrow.src = "/assets/arrow_down.gif";
		arrow.alt = "Arrow Down";
	}
	else{
		drop.style.display = "block";
		arrow.src = "/assets/arrow_up.gif";
		arrow.alt = "Arrow Up";
	}
   }
</script>
</html>
