<!DOCTYPE html>
<html>
    <head>
     <title>Scars</title>
     <%= stylesheet_link_tag    "application", :media => "all" %>
     <%= javascript_include_tag "application" %>
     <%= csrf_meta_tags %>
    </head>
	<body>
	 <div id="main_wrapper">
	  <header>
	   <%= image_tag("banner.jpg", :alt => "S-Cars") %>	   
	  </header>
	 <div id="main_nav">
	  <nav>
	   <ul>
	    <li id="first_tab"><%= link_to 'Home', root_path%></li>
	    <li id="second_tab"><%=link_to 'Bookings', new_booking_path%></li>
		<li id="notice"><%= flash[:notice] %></li>
		<% if current_user %>
        <li id="notice">Logged in as <%= current_user.email %>.</li>
        <li id="main_login"><%= link_to "Logout", "/logout" %></li>
       <% else %>
		<li id="main_login"><a href="#" onclick=myFunction();>Login<%= image_tag("arrow_down.gif", :alt => "Arrow Down", :id => "Arrow") %></a></li>
		<div id="login_dropdown">
			<%= render partial: "sessions/new" %>
        </div>
       <% end %>
	   </ul>
	  </nav>
	 </div>
	 <section>
	  <article>
	   <%= yield %>
       <div style="clear:both;"></div>
	  </article>
	 </section>
   </body>

<script language="JavaScript" type="text/javascript">
   function myFunction(){
   var drop = document.getElementById('login_dropdown');
   var arrow = document.getElementById('Arrow');
	if(drop.style.display == "block"){
		drop.style.display = "none";
		arrow.src = "/assets/arrow_down.gif";
		arrow.alt = "Arrow Down";
	}
	else{
		drop.style.display = "block";
		arrow.src = "/assets/arrow_up.gif";
		arrow.alt = "Arrow Up";
	}
   }
</script>
</html>
